body {
  background-color: #4287F5;
  text-align: center;
  vertical-align: middle;
  color:8f000;
}

#temperature {
  font-size: 100 px;
  font-family: 'Blippo', 'fantesy';
}

#usage {
  font-family: 'Blippo';
  font-style: fantesy;
}



.low-usage {
  color: green;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
}